@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #dfdfdc;
}

#root{
    width: 400px;
    height: 100vh;
    background: #e9ffe5;
}

ul{
    width: 100%;
    margin: 0;
    list-style: none;
}

ul > li {
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
    margin: 0 20px;
}

.header{
    display: flex;
    align-items: center;
    height: 40px;
    background: #075E54;
    color: white;
}